*{
  box-sizing: border-box;
  font-family: 'Poppins';
  margin: 0;
  padding: 5px 1rem;
}

button{
  cursor: pointer;
}

.dropZone{
  border: dotted 2px rgb(5, 99, 136);
  position: relative;
  width: 600px;
  height: 400px;
  margin: 2rem 40px;
}